/* reservation.css */
.containerReservation {
    background-color: #dae4df;
    border-radius: 5px;
    height: auto;
    padding: 20px;
}

.contentReservation {
    background-color: #dae4df;
    border-radius: 10px;
    margin-top: 52px;
}

.textReservation {
    font-size: 1.4em;
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
}

.form2 {
    margin-top: 10px;
    background: #dae4df;
    padding: 2px;
    border-radius: 10px;
    padding-left: 20px;
    height: fit-content;
    text-align: center;
}

.txtReservation {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
    margin-right: 12px;
}

.form2 form {
    width: 100%;
    margin: 10px 0;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 5px;
}

.form2 form button {
    background: #538991;
    color: #fff;
    font-weight: 500;
    border: none;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    margin-bottom: 10px;
    margin-right: 12px;
    margin-top: 20px;
}

.inputDataRes input {
    height: 30px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 15px;
    width: 80%;
}

.calendarContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
