/* CommentSystem.css */
/* CommentSystem.css */
.comment-system-container {
    border: 2px solid  #dae4df;
    background-color: #dae4df;
    color: black;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    height: 505px;
    margin-left: 40px;
}

.comment-system-container h2 {
    margin-bottom: 20px;
}

.comment-system-container form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.comment-system-container textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    resize: vertical;
}

.comment-system-container button {
    background-color: #538991;
    color: #fff;
    font-weight: 500;
    border: none;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.comment-system-container .comment-list {
    margin-top: 20px;
    max-height: 250px; /* Adjust the height as needed */
    overflow-y: auto;
    padding-right: 10px; /* Add some padding for better scrollbar visibility */
}

.comment-system-container .comment-list div {
    padding: 10px;
    border-bottom: 1px solid black;
}

.comment-system-container .comment-list p {
    margin: 0;
}

.comment-title{
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
