.addresses{
    
    margin-top: 20px;
    margin-left: 30px;

}

.address{
    align-items: center;
    background-color: #e0e6e6d0;
    display: flex ;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0,  0, 0.19);
    width: 420px;
}

.map{
    height: 430px;
    width: 450px;
    margin-left: 100px;
}

.mapContainer {
    position: relative;
    z-index: 1; /* Ensure map is behind the suggestions list */
  }

.input{
    padding: 5px;
    width: 100%;
    color: #fff;
    
}

.locationInfo{
    margin-left: 30px;
}



